# arrange objects on top of the parent
onTop:
{
  parent = "KitchenTable";
  
  # models to be randomly arranged
  random = ["Cup", "Spatula"];
  
  # models statically on the parent and to be avoided
  static = ["PancakeMaker"];
  
  # restricted area as bounding box
  restricted_area = [];
  
};

		